## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/vrt/css/veritasu-mod.css')}" />
<link rel="stylesheet" href="${static.url('themes/vrt/bizwrap/assets/bootstrap/css/bootstrap.min.css')}" />
<link rel="stylesheet" href="${static.url('themes/vrt/bizwrap/assets/icons/css/ionicons.css')}" />
<link rel="stylesheet" href="${static.url('themes/vrt/bizwrap/assets/css/style.css')}" />
<link rel="stylesheet" href="${static.url('http://fonts.googleapis.com/css?family=Raleway:400,300,100,700,800,500')}" />
<link rel="stylesheet" href="${static.url('http://fonts.googleapis.com/css?family=Playfair+Display:400italic')}" />
<link rel="stylesheet" href="${static.url('themes/vrt/bizwrap/assets/css/flexslider.css')}" />
<link rel="stylesheet" href="${static.url('themes/vrt/bizwrap/assets/css/animate.cs')}" />



